div p{
    font-size: 22px;
    font-family: "Oswald", sans-serif;
}

div span{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.875em;
}
.projects-title p{
font-size: 40px;
}
.projects-title{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.projects-photos{
display: flex;
height: 500px;
padding-left: 5%;
padding-right: 5%;
justify-content: space-between;
margin-bottom: 50px;
}
.photo1{
    height: 450px;
    background-color: #F7F7F7;
    width: 30%;
    text-align: center;
}

.photo1 p{
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
}

@media (max-width: 500px) {
    .projects-photos{
        display: inline-block;
        height: 100%;
        margin-bottom: 0;
    }
    .photo1{
        width: 100%;
        height: 400px;
    }
}