.bestpomp-contact-root {
    width: 90vw;
    margin: auto;
}
.bestpomp-contact-panel {
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    padding: 50px;
}
.bestpomp-contact-panel p {
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    color: #ffc03a;
}
.bestpomp-contact-panel span {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}
.bestpomp-contact-left {
    text-align: center;
    width: 45%;
}
.bestpomp-contact-left span {
    text-align: center;
    display: block;
    padding: 10px;
}
.bestpomp-contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 200px;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    width: 45%;
}
.bestpomp-contact-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 430px;
}
.bestpomp-contact-merged-input label,
.bestpomp-contact-input label {
    margin-left: 5px;
    margin-bottom: 3px;
}
.bestpomp-contact-merged-input {
    display: flex;
    gap: 10px;
    width: 430px;
    flex-direction: row;
    margin-bottom: 10px;
}
.bestpomp-contact-merged-input div {
    width: 50%;
}
.bestpomp-contact-right textarea {
    resize: none;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}
.bestpomp-contact-right input {
    font-family: "Raleway", sans-serif;
    padding: 3px 3px 3px 5px;
    min-height: 51px;
    font-size: 15px;
}
.bestpomp-contact-right button {
    font-family: "Raleway", sans-serif;
    background: black;
    color: white;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 16px;
}
.bestpomp-contact-map-container {
    margin: auto;
}

.bestpomp-mobile-contact-panel label {
    font-family: "Raleway", sans-serif;
}

.bestpomp-mobile-contact-panel textarea {
    resize: none;
    height: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.bestpomp-mobile-contact-panel input {
    font-family: "Raleway", sans-serif;
    padding: 3px 3px 3px 5px;
    min-height: 51px;
    font-size: 15px;
}

.bestpomp-mobile-contact-panel button {
    border: none;
    width: 100%;
    font-family: "Raleway", sans-serif;
    background: black;
    color: white;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

@media (max-width: 500px) {
    .bestpomp-contact-input {
        width: auto;
    }
}
