.bestpomp-navbar-container {
  top:0;
  width:100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bestpomp-navbar-logo {
  width: 116px;
  height: 45px;
  object-fit: contain;
  object-position: center center;
}

.bestpomp-navbar-links-containers {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
}

.bestpomp-navbar-links-containers a {
  font-family: 'Raleway', sans-serif;
  color: #191919;
  text-decoration: none;
}

.bestpomp-navbar-mobile-menu-button {
  display: none;
  padding-right: 8%;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 500px) {
  .bestpomp-navbar-container {
    margin-left: 35%;
    width:auto
  }

  .bestpomp-navbar-links-containers {
    display: none;
  }
  .bestpomp-navbar-mobile-menu-button {
    display: inline-block;
  }
}